@charset "utf-8";

.service {
    max-width: 100%;
    background-color: #eeeeee;
    padding: 50px;
}

.section_title {
    text-align: center;
    margin-bottom: 50px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.service-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

.service-card h3 {
    margin-top: 10px;
    font-weight: bold;
    position: relative;
    padding-left: 10px;
}

img {
    width: 100%;
}

.section-title {
    padding: 2px 2px;
    margin-left: 5px;
    margin-top: 5px;
}

.code-box {
    border: 10px;
    background-color: white;
    padding: 5px;
    margin: 20px;
}

@media screen and (max-width:400px) {
    .service-card {
        padding: 50px;
    }

    .service {
        flex-direction: column;
    }
}