@charset "utf-8";


.service {
    max-width: 100%;
    background-color: #eeeeee;
    padding: 50px;
}

.section-title {
    color: seagreen;
    display: flex;
    justify-content: center;
}

p {
    padding: 7px;
    line-height: 1.4;
}

.service-grid {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.service-card img {
    width: 100%;
}

.service-card h3 {
    color: seagreen;
    border-left: 6px solid seagreen;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
    position: relative;
    padding-left: 5px;
}

img {
    width: 100%;
}

.section-title {
    padding: 2px 2px;
    margin-left: 5px;
    margin-top: 5px;
}

.service-card {
    background-color: white;
}

@media screen and (max-width:400px) {
    .service-grid {
        flex-direction: column;
    }
}