@charset "UTF-8";

.wrapper {
    max-width: 100%;
}

.container-blue {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blue-box {
    width: 300px;
    height: 300px;
    background-color: blue;
}

.container-red {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.red-box {
    width: 300px;
    height: 300px;
    background-color: red;
    border: 1px solid black;
}