@charset "utf-8";

body {
    background-color: #e9d9c0;
}

header {
    position: relative;
}

.header_slider img {
    width: 100%;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5% 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

h1 img {
    width: 434px;
}

a img {
    width: 140px;
    vertical-align: baseline;
}

.pc_nav ul {
    display: flex;
    gap: 48px;
}


.pc_nav ul li {
    color: #fff;
    font-family: "Alatsi", sans-serif;
}

.message {
    text-align: center;
    padding: 132px 0;
    margin-top: 150px;
    margin-bottom: 144px;
}

.en-message {
    font-size: 26px;
}

.main-message {
    font-size: 64px;
    line-height: 1.5;
    margin-top: 40px;
    margin-bottom: 16px;
}

.text-message {
    font-size: 24px;
    line-height: 1.5;
}

.about_us {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.coffee_image {
    width: 44%;
    border-bottom-right-radius: 64px;
    margin-left: 220px;
}

.about_us_box {
    width: 52%;
}

.coffee_title {
    font-family: "Diplomata SC", serif;
    color: #d20202;
    font-size: 40px;
    margin-bottom: 40px;
}

.about_message {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.about_text {
    /* width: 52%; */
    font-size: 14px;
    line-height: 1.8;
}

.menu_three h3 {
    font-family: "Diplomata SC", serif;
    color: #d20202;
    font-size: 26px;
    position: relative;
    bottom: 12px;
}

.menu {
    font-family: "Diplomata SC", serif;
    color: #d20202;
    font-size: 40px;
    margin-top: 144px;
    text-align: center;
}

.menu_three {
    display: flex;
    padding: 32px;
    gap: 32px;
    justify-content: center;
}

.drink_menu {
    border-top-right-radius: 64px;
}

.food_menu {
    border-top-right-radius: 64px;
}

.sweets_menu {
    border-top-right-radius: 64px;
}

.menu_explanation {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.drink_explanation {
    font-size: 14px;
    line-height: 1.8;
    width: 312px;
    height: 50px;
}

.food_explanation {
    font-size: 14px;
    line-height: 1.8;
    width: 312px;
    height: 50px;
}

.sweets_explanation {
    font-size: 14px;
    line-height: 1.8;
    width: 312px;
    height: 50px;
}

.menu_sab ul {
    display: flex;
    gap: 32px;
}

.menu_sab ul li {
    font-family: "Diplomata SC", serif;
    color: #d20202;
    font-size: 26px;
    position: relative;
    bottom: 95px;
    left: 220px;
    width: 312px;
    height: 32px;
}

.gallery {
    font-family: "Diplomata SC", serif;
    color: #d20202;
    font-size: 40px;
    text-align: center;
    margin-top: 144px;
    margin-bottom: 32px;
}

.gallery_menu {
    display: flex;
    width: 100%;
}

.gallery_menu img {
    display: flex;
    width: 20%;
}

.event {
    font-family: "Diplomata SC", serif;
    color: #d20202;
    font-size: 40px;
    text-align: center;
    margin-top: 144px;
}

.event_box {
    border: 1px solid #4f270b;
    background-color: #ffffff;
    padding: 32px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.event_wrap {
    display: flex;
    /* grid-template-columns: 140px 1fr; */
    column-gap: 70px;
    padding: 16px;
    font-size: 20px;
}

.event_text {
    text-align: left;
}

.access {
    font-family: "Diplomata SC", serif;
    color: #d20202;
    font-size: 40px;
    text-align: center;
    margin-top: 144px;
    margin-bottom: 32px;
}

iframe {
    height: 353px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


footer {
    background-color: #ffffff;
    height: 384px;
}

.footer_box {
    display: flex;
}

.footer_box div {
    margin-left: 39px;
}

.footer_box img {
    width: 380px;
    margin-top: 80px;
    margin-left: 221px;
}

.footer_wright {
    display: flex;
    font-size: 16px;
}

.footer_wrap {
    margin-top: 80px;
}

.footer_in {
    text-align: left;
}

.c {
    margin-top: 80px;
    margin-left: 221px;
}

.pagetop {
    height: auto;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 9999;
}